.header {
  margin: auto;
  justify-content: center;
  max-width: 1280px;
}

.header__icon {
  width: 32px;
  height: 32px;
}

.header__logo-title {
  color: white;
  font-family: "Inter", sans-serif;
}

.header__content {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.header__title {
  font-family: "Inter", sans-serif;
  font-size: 3rem;
  color: white;
}

.header__subtitle {
  font-family: "Inter", sans-serif;
  font-size: 1.2rem;
  color: white;
}

.header__image {
  width: 70%;
}

@media screen and (min-width: 320px) {
  .header {
    display: flex;
    position: relative;
    align-items: center;
    flex-direction: column;
    margin: auto;
    padding: 0;
    max-width: 100%;
  }

  .header__logo-content {
    width: 188px;
    height: 52px;
    margin-top: 20px;
    padding: 0;
  }

  .header__logo-image {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  .header__content {
    margin: 50px 0 0 0;
    width: 320px;
    height: 384px;
    padding: 0;
  }

  .header__title {
    width: 228px;
    height: 88px;
    margin: 0;
    font-family: "Inter-black";
    font-weight: 900;
    font-size: 40px;
    line-height: 1.06;
    text-align: center;
  }

  .header__subtitle {
    width: 288px;
    height: 40px;
    margin-bottom: 40px;
    font-family: "Inter";
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
  }

  .header__image {
    width: 320px;
    height: 200px;
  }
}

@media screen and (min-width: 768px) {
  .header {
    display: flex;
    position: relative;
    align-items: center;
    flex-direction: column;
    margin: auto;
    padding: 0;
  }

  .header__logo-content {
    width: 254px;
    height: 66px;
    margin-top: 30px;
    padding: 0;
  }

  .header__logo-image {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  .header__content {
    width: 768px;
    height: 765px;
    padding: 0;
  }

  .header__title {
    width: 530px;
    height: 158px;
    font-family: "Inter-black";
    font-weight: 900;
    font-size: 75px;
    line-height: 1.06;
    text-align: center;
  }

  .header__subtitle {
    width: 720px;
    height: 72px;
    font-family: "Inter";
    font-weight: 400;
    font-size: 30px;
    line-height: 1.2;
    text-align: center;
  }

  .header__image {
    width: 768px;
    height: 480px;
    box-shadow: 10px 10px 25px 0px #00000080;
  }
}

@media screen and (min-width: 1280px) {
  .header {
    display: flex;
    position: relative;
    align-items: center;
    flex-direction: column;
    margin: auto;
    padding: 0;
  }

  .header__logo-content {
    width: 254.84px;
    height: 68.94px;
    margin-top: 34px;
    padding: 0;
  }

  .header__logo-image {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  .header__content {
    width: 984px;
    height: 983px;
    padding: 0;
  }

  .header__title {
    width: 720px;
    height: 200px;
    margin-bottom: 0;
    padding: 0;
    font-family: "Inter-black";
    font-weight: 900;
    font-size: 96px;
    line-height: 100px;
    text-align: center;
  }

  .header__subtitle {
    width: 720px;
    height: 72px;
    margin: 32px 0 64px 0;
    padding: 0;
    font-family: Inter;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
  }

  .header__image {
    width: 984px;
    height: 615px;
    box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.5);
  }
}
